body {
  position: relative;
}

.hero {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px;
}

@media only screen and (max-width: 768px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero_right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .hero_right {
    height: 50%;
    width: 100%;
  }
}

.hero_right img {
  z-index: 1;
  width: 25vw;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

@media only screen and (max-width: 1200px) {
  .hero_right img {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    width: 30vw;
  }
}

@media only screen and (max-width: 768px) {
  .hero_right img {
    width: 30vh;
  }
}

.hero_right .circle {
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .hero_right .circle {
    width: 45vw;
    height: 45vw;
  }
}

@media only screen and (max-width: 768px) {
  .hero_right .circle {
    height: 40vh;
    width: 40vh;
  }
}

.hero_right .circle_section {
  width: 100%;
  height: 33.33%;
}

.hero_right .green {
  background-color: #00a266;
}

.hero_right .orange {
  background-color: #ee4540;
}

.hero_right .purple {
  background-color: #9864fb;
}

.hero_left {
  color: #1b1b1b;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .hero_left {
    height: 50%;
    width: 100%;
  }
}

.hero_left img {
  position: absolute;
  width: 50%;
  opacity: 0.2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

@media only screen and (max-width: 1200px) {
  .hero_left img {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .hero_left img {
    width: auto;
    height: 90%;
  }
}

.hero_left h3 {
  font-size: 4rem;
  z-index: 0;
  font-family: "Coolvetica";
  position: absolute;
  text-shadow: 0 1px 0 #dad9fc, 0 2px 0 #d1d0fb, 0 3px 0 #c7c6fb, 0 4px 0 #bebdfa, 0 5px 0 #b5b3f9, 0 0 5px rgba(0, 0, 0, 0.05), 0 -1px 3px rgba(0, 0, 0, 0.2), 0 9px 9px rgba(0, 0, 0, 0), 0 12px 12px rgba(0, 0, 0, 0), 0 15px 15px rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 1200px) {
  .hero_left h3 {
    font-size: 8vw;
  }
}

@media only screen and (max-width: 768px) {
  .hero_left h3 {
    font-size: 10vw;
  }
}

@media only screen and (max-width: 480px) {
  .hero_left h3 {
    font-size: 14vw;
  }
}

.hero_left h3:first-of-type {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

@media only screen and (max-width: 1200px) {
  .hero_left h3:first-of-type {
    -webkit-transform: translateY(-4vw);
            transform: translateY(-4vw);
  }
}

@media only screen and (max-width: 768px) {
  .hero_left h3:first-of-type {
    -webkit-transform: translateY(-5vw);
            transform: translateY(-5vw);
  }
}

@media only screen and (max-width: 480px) {
  .hero_left h3:first-of-type {
    -webkit-transform: translateY(-6vw);
            transform: translateY(-6vw);
  }
}

.hero_left h3:last-of-type {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

@media only screen and (max-width: 1200px) {
  .hero_left h3:last-of-type {
    -webkit-transform: translateY(4vw);
            transform: translateY(4vw);
  }
}

@media only screen and (max-width: 768px) {
  .hero_left h3:last-of-type {
    -webkit-transform: translateY(5vw);
            transform: translateY(5vw);
  }
}

@media only screen and (max-width: 480px) {
  .hero_left h3:last-of-type {
    -webkit-transform: translateY(6vw);
            transform: translateY(6vw);
  }
}

.hero_left p {
  width: 70%;
  position: absolute;
  bottom: 100px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.3em;
  font-family: "Roboto Slab";
}

@media only screen and (max-width: 1200px) {
  .hero_left p {
    font-size: 1rem;
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .hero_left p {
    width: 80%;
    bottom: 25px;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 480px) {
  .hero_left p {
    font-size: 0.9rem;
  }
}

.chevron_container {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 36px;
  height: 36px;
}

@media only screen and (max-width: 768px) {
  .chevron_container {
    display: none;
  }
}

.chevron {
  width: 100%;
  height: 10px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
          animation: move 3s ease-out infinite;
  position: absolute;
}

.chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
          animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
          animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #1b1b1b;
}

.chevron:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(60px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(60px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(60px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(60px) scale3d(0.5, 0.5, 0.5);
  }
}

.benefits,
.whyChooseMe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Slab";
}

.benefits p,
.whyChooseMe p {
  line-height: 1.3em;
}

.benefits {
  margin-top: 100px;
  overflow: hidden;
}

.benefits h2,
.whyChooseMe h2,
.portfolio_container h2 {
  font-size: 2.5rem;
  font-family: "Coolvetica";
  color: #1b1b1b;
  margin-bottom: 75px;
  text-shadow: 0 1px 0 #dfdefc, 0 2px 0 #d5d4fc, 0 3px 0 #cccbfb, 0 4px 0 #c3c2fa, 0 0 5px rgba(0, 0, 0, 0.05), 0 -1px 3px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .benefits h2,
  .whyChooseMe h2,
  .portfolio_container h2 {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .benefits h2,
  .whyChooseMe h2,
  .portfolio_container h2 {
    font-size: 2.25rem;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .benefits h2,
  .whyChooseMe h2,
  .portfolio_container h2 {
    font-size: 2rem;
  }
}

.benefits .benefits_bottom {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

@media only screen and (max-width: 1200px) {
  .benefits .benefits_bottom {
    width: 98%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .benefits .benefits_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    width: 95%;
  }
}

@media only screen and (max-width: 480px) {
  .benefits .benefits_bottom {
    width: 100%;
  }
}

.benefits_top_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .benefits_top_panel {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .benefits_top_panel {
    width: 95%;
  }
}

@media only screen and (max-width: 480px) {
  .benefits_top_panel {
    width: 100%;
  }
}

.benefits_bottom_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .benefits_bottom_panel {
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .benefits_bottom_panel {
    width: 95%;
    margin-top: 50px;
  }
}

.benefits img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .benefits img {
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .benefits img {
    width: 250px;
  }
}

.benefits .responsive {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

@media only screen and (max-width: 480px) {
  .benefits .responsive {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

.benefits .fast {
  -webkit-transform: translateX(65px);
          transform: translateX(65px);
}

@media only screen and (max-width: 1200px) {
  .benefits .fast {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}

@media only screen and (max-width: 768px) {
  .benefits .fast {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

.benefits .seo {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

@media only screen and (max-width: 480px) {
  .benefits .seo {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

.benefits h3 {
  font-size: 1.75rem;
  color: #1b1b1b;
  text-shadow: 2px 2px 0px rgba(27, 27, 27, 0.2);
  font-family: "Coolvetica";
}

@media only screen and (max-width: 1200px) {
  .benefits h3 {
    font-size: 1.5rem;
  }
}

.benefits p {
  width: 550px;
  margin-top: 5px;
  text-align: center;
  font-family: "Zilla Slab";
}

@media only screen and (max-width: 1200px) {
  .benefits p {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .benefits p {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .benefits p {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) {
  .benefits_top_panel p {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .benefits_top_panel p {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .benefits_top_panel p {
    width: 100%;
  }
}

.whyChooseMe {
  margin-top: 200px;
}

@media only screen and (max-width: 1200px) {
  .whyChooseMe {
    margin-top: 175px;
  }
}

@media only screen and (max-width: 768px) {
  .whyChooseMe {
    margin-top: 150px;
  }
}

@media only screen and (max-width: 480px) {
  .whyChooseMe {
    margin-top: 125px;
  }
}

.whyChooseMe ul {
  width: 1000px;
}

@media only screen and (max-width: 1200px) {
  .whyChooseMe ul {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .whyChooseMe ul {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .whyChooseMe ul {
    width: 95%;
  }
}

.whyChooseMe ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 480px) {
  .whyChooseMe ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.whyChooseMe ul li:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 480px) {
  .whyChooseMe ul li:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.whyChooseMe_image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 8px rgba(154, 160, 185, 0.05), 0 12px 32px rgba(166, 173, 201, 0.2);
          box-shadow: 0 4px 8px rgba(154, 160, 185, 0.05), 0 12px 32px rgba(166, 173, 201, 0.2);
}

@media only screen and (max-width: 1200px) {
  .whyChooseMe_image_container {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .whyChooseMe_image_container {
    width: 125px;
    height: 125px;
  }
}

.whyChooseMe_image_container img {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .whyChooseMe_image_container img {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .whyChooseMe_image_container img {
    width: 100px;
  }
}

.whyChooseMe_heart {
  width: 50% !important;
}

.whyChooseMe ul li p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
}

@media only screen and (max-width: 768px) {
  .whyChooseMe ul li p {
    padding: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .whyChooseMe ul li p {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }
}

.whyChooseMe span {
  color: #ee4540;
  cursor: pointer;
}

.portfolio_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
  margin-top: 140px;
}

@media only screen and (max-width: 1200px) {
  .portfolio_container {
    margin-top: 115px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio_container {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .portfolio_container {
    margin-top: 75px;
  }
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-shadow: 0 4px 8px rgba(154, 160, 185, 0.05), 0 12px 32px rgba(166, 173, 201, 0.2);
          box-shadow: 0 4px 8px rgba(154, 160, 185, 0.05), 0 12px 32px rgba(166, 173, 201, 0.2);
}

.portfolio img {
  width: 350px;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .portfolio img {
    width: 25vw;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio img {
    width: 30vw;
  }
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 150px);
}

@media only screen and (max-width: 1200px) {
  .contact {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .contact {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    height: calc(100vh - 120px);
  }
}

.contact h2 {
  font-size: 3rem;
  font-family: "Coolvetica";
  color: #1b1b1b;
  text-shadow: 0 1px 0 #dfdefc, 0 2px 0 #d5d4fc, 0 3px 0 #cccbfb, 0 4px 0 #c3c2fa, 0 0 5px rgba(0, 0, 0, 0.05), 0 -1px 3px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 480px) {
  .contact h2 {
    font-size: 2rem;
  }
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  width: 800px;
}

@media only screen and (max-width: 1200px) {
  .contact form {
    width: 700px;
  }
}

@media only screen and (max-width: 768px) {
  .contact form {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .contact form {
    width: 90%;
  }
}

.form_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 50%;
}

@media only screen and (max-width: 480px) {
  .form_group {
    width: 100%;
    margin-bottom: 30px;
  }
}

.form_group label {
  position: absolute;
  left: 0;
  bottom: 10px;
  color: #999;
  z-index: 1;
  -webkit-transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  font-family: "Zilla Slab";
}

@media only screen and (max-width: 480px) {
  .form_group label {
    bottom: 5px;
  }
}

.focused label {
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  font-size: 1rem;
}

.form_group input .filled {
  -webkit-box-shadow: 0 2px 0 0 lightgreen;
          box-shadow: 0 2px 0 0 lightgreen;
}

.contact form input,
.contact form textarea {
  font-size: 1rem;
  border: none;
  color: #1b1b1b;
  font-family: "Roboto Slab";
  border-bottom: 2px solid #1b1b1b;
}

.contact form input:focus,
.contact form textarea:focus {
  outline: none;
}

.contact form input[name="name"],
.contact form input[name="email"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact form input[name="name"] {
  margin-right: 10px;
}

@media only screen and (max-width: 480px) {
  .contact form input[name="name"] {
    margin-right: 0;
  }
}

.contact form textarea {
  width: 100%;
  resize: none;
}

@media only screen and (max-width: 480px) {
  .contact form textarea {
    height: 50px;
  }
}

.contact form label:last-of-type {
  color: #999;
  margin-top: 10px;
}

.contact form button {
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  font-family: "Coolvetica";
  color: white;
  border: none;
  background: transparent;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #00a266;
  margin-top: 10px;
}

@media only screen and (max-width: 480px) {
  .contact form button {
    height: 40px;
  }
}

.contact form button:hover {
  cursor: pointer;
}

.contact form button p {
  position: relative;
  z-index: 1;
}

.contact form button:before,
.contact form button:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 200%;
  background: #9864fb;
  -webkit-transform-origin: 0 bottom;
          transform-origin: 0 bottom;
  -webkit-transform: translate3D(0, -100%, 0);
          transform: translate3D(0, -100%, 0);
  z-index: 0;
}

.contact form button:before {
  background-color: #ee4540;
}

.contact form button:hover::before,
.contact form button:hover:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.contact form button:hover:after {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.form_consent {
  font-size: 0.7rem;
  margin-top: 10px;
  font-family: "Roboto Slab";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_consent p {
  color: #1b1b1b;
  line-height: 1.3em;
}

.form_consent a {
  color: #ee4540;
}
/*# sourceMappingURL=Index.css.map */