.navbar {
  width: 100%;
  padding-top: 15px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1b1b1b;
  z-index: 2;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  padding-bottom: 5px;
}

.navbar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Coolvetica";
  cursor: pointer;
  font-size: 1.5rem;
  border-bottom: 4px solid;
  -o-border-image: linear-gradient(to right, #00a266 0%, #00a266 33.32%, #ee4540 33.33%, #ee4540 66.65%, #9864fb 66.66%, #9864fb 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#00a266), color-stop(33.32%, #00a266), color-stop(33.33%, #ee4540), color-stop(66.65%, #ee4540), color-stop(66.66%, #9864fb), to(#9864fb));
     border-image: linear-gradient(to right, #00a266 0%, #00a266 33.32%, #ee4540 33.33%, #ee4540 66.65%, #9864fb 66.66%, #9864fb 100%);
  border-image-slice: 1;
}

.navbar_logo:hover {
  -o-border-image: linear-gradient(to right, #1b1b1b);
     border-image: -webkit-gradient(linear, left top, right top, from(#1b1b1b));
     border-image: linear-gradient(to right, #1b1b1b);
  border-image-slice: 1;
}

.navbar_right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Slab";
}

.navbar_portfolio,
.navbar_contact {
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.navbar_portfolio:hover,
.navbar_contact:hover {
  cursor: pointer;
}

.navbar_contact {
  background-color: #1b1b1b;
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.navbar_contact:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ee4540;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 150ms ease-out;
  transition: 150ms ease-out;
}

.navbar_contact:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navbar_contact--transparent {
  background-color: transparent;
  font-weight: normal;
}
/*# sourceMappingURL=Navbar.css.map */