@import "_variables";

.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darkGrey;
    background-color: white;
    z-index: 3;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.navbar a {
    color: $darkGrey;
}

.navbar_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coolvetica";
    cursor: pointer;
    font-size: 1.5rem;
    border-bottom: 4px solid;
	border-image: linear-gradient(to right, $green 0%, $green 33.32%, $orange 33.33%, $orange 66.65%, $purple 66.66%, $purple 100%);
	border-image-slice: 1;

    &:hover {
        border-image: linear-gradient(to right, $darkGrey);
        border-image-slice: 1;
    }
}

.navbar_right {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: "Roboto Slab";
}

.navbar_portfolio,
.navbar_contact {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: white; 

    &:hover {
        cursor: pointer;
    }
}

.navbar_contact {
    background-color: $darkGrey;
    @include backgroundTransition($orange, 150ms, "down");
}

.navbar_contact--transparent {
    background-color: transparent;
    font-weight: normal;
}