@import "_variables";

.navbar {
    width: 100%;
    padding-top: 15px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darkGrey;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar_logo {
    //height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Coolvetica";
    cursor: pointer;
    border-bottom: 4px solid $orange;
    font-size: 1.5rem;

    &:hover {
        border-color: $green;
    }
}

.navbar_right {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: "Roboto Slab";
}

.navbar_portfolio,
.navbar_contact {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: white; 

    &:hover {
        cursor: pointer;
    }
}

.navbar_contact {
    background-color: $purple;
    transition: background-color 0.3s;
    font-weight: bold;
}

.navbar_contact--transparent {
    background-color: transparent;
    font-weight: normal;
}